.question {
    max-width: 1200px;
    margin: 0 auto;
}

.question__heading {
    text-align: center;
}

.question__list-item {
    margin-top: 20px;
}

.question__show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.question__list-item-choose-question {
    margin-left: 10px;
}